{% extends './trainees.html' %} {% block title %}
<div>
    <h1>update</h1>
</div>
{% endblock %} {% block content %}
<div>{{id}}</div>
<form action="">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required />
    </div>
    <div>
        <label for="department">Department:</label>
        <input type="text" id="department" name="department" required />
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}